<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form row g-3 mb-5" ngNativeValidate>
  <h2 class="mt-5">Create a Task</h2>
  <div class="col-md-4">
    <label class="form-label">Title</label>
    <input type="text" #title="ngModel" ngModel class="form-control"  name="title" required="required">
  </div>
  <div class="col-md-4">
    <label class="form-label">Description</label>
    <input type="text" #description="ngModel" ngModel class="form-control" name="description" required="required">
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
